services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network
    env_file:
      - .env

  redis:
    image: redis:6.0
    networks:
      - app-network

  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    depends_on:
      - db
      - redis
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./static:/app/static
      - ./media:/app/media
      - ./logs:/app/logs 
    ports:
      - "8000:8000"
    command: >
      sh -c "
      while ! nc -z db 5432; do sleep 1; done;
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn --bind 0.0.0.0:8000 _project_.wsgi:application"

  celery:
    build:
      context: .
      dockerfile: Dockerfile.prod
    depends_on:
      - db
      - redis
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    volumes:
      - .:/app
    networks:
      - app-network
    command: >
      sh -c "
      while ! nc -z db 5432 || ! nc -z redis 6379; do sleep 1; done;
      celery -A _project_ worker --loglevel=info"
      

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/confd/:/etc/nginx/conf.d/
      - static-data:/app/static
      - media-data:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - nginx-cache:/var/cache/nginx  # для proxy_cache
    depends_on:
      - web
    networks:
      - app-network

volumes:
  db-data:
  letsencrypt:
  certbot-webroot:
  static-data:
  media-data:
  nginx-cache:


networks:
  app-network:
    driver: bridge
